div.repos {
  margin-top: 15px;
  padding-top: 10px;
  border-top: 5px solid #666
}

div.repos input {
   margin: 0 auto;
   padding: 5px;
   width: 80%;
   color: #999;
   font: 15px/1 Helvetica, Verdana, sans-serif;
}

ul {
 list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: row wrap;
}

li {
 background: tomato;
  padding: 15px;
  margin: 10px;
  color: white;
  font-weight: bold;
  font-size: 1.2em;
  flex:1 1 0;
  cursor: pointer;
}

li:hover {
	background-color: #ccc;
}

li span {
	vertical-align: middle;
	font-size: 1em;
}

li a {
  color: white;
  text-decoration: none;
}

