ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: row wrap;
}

li {
  background: tomato;
  padding: 15px;
  margin: 10px;
  color: white;
  font-weight: bold;
  font-size: 1.2em;
  flex:1 1 0;
  cursor: pointer;
}

li:hover {
	background-color: #ccc;
}

li .avatar {
	height: 30px;
	width: 30px;
	float: left;
	margin: 5px;
}
li span {
	vertical-align: middle;
	font-size: 1em;
}
