ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  height: 40px;
  border-bottom: 1px solid #ccc;
  vertical-align: middle;
  cursor: pointer;
}
li:hover {
	background-color: #ccc;
}

li .avatar {
	height: 30px;
	width: 30px;
	float: left;
	margin: 5px;
}
li span {
	vertical-align: middle;
	font-size: 1em;
}


li:last-child {
  border: none;
}